@import "styles/Themes.css";

/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.App{
    height: 100vh;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}

/*Bootstrap container system*/
.container{
  /*  max-width: 1200px;*/
    margin: 0px auto;
    padding: 0px 15px;
    background-color: aqua;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 1392px) {
    .container {
        width: 1320px;
    }
}




/*light/dark mode demonstration*/
.App{
    background-color: var(--color-primary);
    color: var(--font-color);
}

.testElement {
    background-color: var(--color-secondary);
}

/*[data-theme="light"] {
    test-color:  #243133;
}
.test{
    background-color: var(--test-color);
}*/



