* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    padding: 20px 20px;
}

body>* {
    margin-bottom: 20px;
}

.clickable:hover {
    background-color: black;
    color: white;
}

.clickable:hover>* {
    color: white;
}

h1 {
    margin: 0 0 20px 0;
    border-bottom: 2px solid black;
    font-size: 20px;
}

nav {
    border: 1px solid black;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    min-width: 150px;
    min-height: 30px;
    margin: 0 2px 0 0;
}

nav li>a {
    display: block;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
}

.activeTab {
    background-color: black;
}

.activeTab>a {
    color: white;
}

section{
    margin-bottom: 30px;
}

table td, table th {
    padding: 8px;
}

table th{
    text-align: left;
}

button{
    padding: 5px 10px;
}

#addDeviceSection form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#addDeviceSection form>* {
    margin: 0 0 20px 20px;
}

#addDeviceSection form button {
    max-width: 200px;
    min-height: 30px;
}

#userDevicesSection, #devicesSection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.deviceCard {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    max-height: 200px;
    min-width: 200px;
    min-height: 150px;

    padding: 20px 0 0 0;

    border: 1px solid black;
}

.deviceCard>* {
    max-width: 80%;
    margin: 0 auto 10px auto;
}

.deviceCard button {
    min-width: 100px;
    min-height: 30px;
}

#updateTypeSection form, #addTypeSection form{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
    margin-bottom: 10px;
}

.statusesFieldset{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.updateDeleteBar{
    display: flex;
    gap: 10px;
}