.navbar{
    display: block;
    position: sticky;
    top: 0;
    z-index: 999;
}
.menuitems{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.menu_Background{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
}
.menu{
    position: fixed;
    max-width: 30%;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    /*the new solution just use variables from styles/themes.css!*/
    background-color: var(--nav-bg-color);
}
.hamburger_lines{
    display: none;
    background-color: transparent;
    border: 0;
    height: 48px;
}
.menuburger{
    display: inline-block;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
}
.navbar_container {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 1fr;
    align-items: end;
    background-color: darkslateblue;
    text-align: center;
}
.title{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
}
.visible{
    transform: translateX(0);
}
.invisible{
    transform: translate(-150%);
}
.menuitems li {
    /*border-bottom: rgba(0, 0, 0, 0.15) solid 1px;*/
    cursor: pointer;
    margin: 0.5em 0.5em 0.5em 0em;
}
.separator{
    height: 1px;
    background-color: #1a1a1a;
    margin: 1em 0.5em 1em 0em;
}
.version{
    text-align: center;
    color: rgba(121, 121, 121, 0.49);
}
@media (min-width: 0px) {
    .hamburger_lines{
        display: inline-block;
    }
    .menuitems{
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
    }
}

